.card {
  background: var(--card-background);
  border-radius: var(--border-radius);
  padding: var(--spacing-lg) var(--spacing-md);
  box-shadow: 0 3.6px 7.2px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.card:hover {
  transform: translateY(-4.5px);
  box-shadow: 0 7.2px 14.4px rgba(0, 0, 0, 0.3);
}

.card h3 {
  color: var(--heading-color);
  margin-bottom: var(--spacing-sm);
  font-size: 1.8rem;
}

.card-subtitle {
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: var(--spacing-sm);
}

.card-years,
.card-location {
  font-size: 1rem;
  color: #c8c7c7;
  margin-bottom: var(--spacing-sm);
  text-align: left;
}

.card-description {
  margin: var(--spacing-sm) 0;
  color: var(--text-color);
}

.card-description p {
  margin-bottom: var(--spacing-sm);
  line-height: 1.6;
}

.card-description ul {
  list-style-type: disc;
  margin-left: var(--spacing-md);
  text-align: left;
}

.card-description li {
  margin-bottom: var(--spacing-sm);
}

.card-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  margin: var(--spacing-md) 0;
  justify-content: center;
}

.tech-tag {
  background: var(--tech-tag-background, #282c34);
  padding: 4.5px var(--spacing-sm);
  border-radius: 14px;
  font-size: 0.9rem;
  color: var(--text-color);
  transition: var(--transition);
}

.tech-tag:hover {
  background: var(--tech-tag-hover, #1c1e21);
  transform: translateY(-1.8px);
}

.card-link {
  display: inline-block;
  margin-top: var(--spacing-lg);
  color: #fff;
  text-decoration: none;
  padding: 11px 29px;
  background-color: #7c3aed;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0 3.6px 7.2px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.card-link:hover {
  color: #fff;
  background-color: #5b21b6;
  transform: translateY(-2.7px);
  box-shadow: 0 7.2px 14.4px rgba(0, 0, 0, 0.3);
}
