.resume-section {
  padding: 54px 0;
  text-align: center;
}

.resume-btn {
  display: inline-block;
  margin-top: 18px;
  padding: 11px 29px;
  background-color: #7c3aed;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.2s;
}

.resume-btn:hover {
  background-color: #5b21b6;
}

.work-experience-section {
  padding: 54px 0;
  text-align: center;
}

.experiences-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  max-width: 810px;
  margin: 0 auto;
  padding: 0 18px;
}

.experience-card {
  background-color: #3a3f4a;
  border-radius: 8px;
  box-shadow: 0 3.6px 7.2px rgba(0, 0, 0, 0.2);
  padding: 27px;
  text-align: left;
  transition: all 0.3s ease;
}

.experience-card h3 {
  font-size: 1.8rem;
  color: #e0e0e0;
  margin-bottom: 9px;
}

.experience-card:hover {
  transform: translateY(-4.5px);
  box-shadow: 0 7.2px 14.4px rgba(0, 0, 0, 0.3);
}

.experience-years {
  font-size: 1rem;
  color: #a0a0a0;
  margin-bottom: 13.5px;
}

.experience-location {
  font-size: 1rem;
  color: #c8c7c7; /* Lighter grey for years/location */
  margin-bottom: 13.5px;
}

.experience-description {
  list-style-type: disc;
  margin-left: 18px;
  font-size: 1.1rem;
  color: #f0f0f0;
}

.experience-description li {
  margin-bottom: 7.2px;
} 